		.centercontent {
		    margin: auto;
		    width: 60%;
		    border: 20px solid /*#bdc3c7;*/ #f1f1f1;
		    padding: 10px;
		    background-color: #f1f1f1;
		    text-align: justify;
		}
		.date {
			text-transform: uppercase;
			color: #3498db;
			letter-spacing: 2px;
			font-weight: bold;
		}
		h2 {
			text-transform: capitalize;
			font-size: 40px;
			font-weight: 700;
			color: #2c3e50;
		}
		.firstpara {
			border-left: 4px solid #bdc3c7;
			padding-left: 4px;
		}
		body {
			margin-top: 20px;
			font-family: 'Roboto', sans-serif;
			background-color: #bdc3c7;
		}
		hr {
			border-top: 1px solid #8c8b8b;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		p {
			font-size: 20px;
		}